extends ./layout.pug

block content
  article
    +blogtitle(post, user)
    .body !{post.body}
    +tags(post)
    .new-comment
      form(method='POST' action='/c')
        input(name='postid', type='hidden', value=`${post.id}`)
        input(name='postslug', type='hidden', value=`${post.slug}`)
        +form-input('name')
        +form-input('email')
        +form-text-req('message')
        +form-submit()
    //- .comments
    //-   each comment in post.comments
    //-     .comment(id=`${comment.id}`)
    //-       if comment.name
    //-         .name #{comment.name}
    //-           if comment.email && user
    //-             = ' | '
    //-             a(href=`mailto:${comment.email}`) #{comment.email}
    //-         .message #{comment.message}
